@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
	
@{
	ViewData["Title"] = "Watch";
	//no current functionality to actually watch movies
}


<h1>Page to watch movies</h1> 



<button class="btn-primary">Click here to watch</button>

